*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  width: 711px;
  gap: 30px;
  margin-left: 30px;
}

.result__video-container{
  min-width: 711px;
  min-height: 386px;
  position: relative;
  margin-bottom: 16px;
}

.result__video{
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__fieldset-title {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  min-width: 225px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  background-color: #FFF;
  border: 1px solid #000;  
}

.search-form__checkbox:has(:focus-visible) {
  outline: 1px solid #fff;
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 1px;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  align-self: end;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 399px;
  height: 34px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 22px;
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: block;
  overflow: auto;
  height: 298px;
  position: relative;  
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFF;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 2px;
}

.content__video-card-description-container {
  height: auto;
  width: auto;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px
}

.content__video-card-thumbnail {
  width: 194px;
}